.navbar-color {
    background-color: rgb(11, 39, 25);
}

.color-white {
    color: #FFFF !important;
    font-weight: bold;
}

.panel-heading {
    background-color: rgb(11, 39, 25) !important;
    color: #FFFF !important;
    font-weight: bold;
}

.color-white-link:hover {
    color: cornsilk !important;
    font-weight: bold;
}

.color-white-link {
    color: #FFFF !important;
    font-weight: bold;
}

.logo {
    margin-top: -5px !important;
}

.img-mask {
    overflow: hidden;
}

.img-mask .producto-imagen {
    max-width: 100%;
    height: 100%;
}

.panel-size {
    width: 96%;
}

.panel-size .img-mask {
    width: 100%;
    height: 180px;
}

.pointer {
    cursor: pointer;
}

.img-mask-descripcion {
    width: 100%;
    height: 80%;
}

.img-mask-descripcion .descripcion-imagen {
    width: auto;
    height: 200px;
}

.img-mask-edit {
    width: 80%;
    height: 80% !important;
}

.img-mask-edit .producto-imagen {
    width: 100%;
    height: 100%;
}

.card-height{
    height: 400px !important;
}

.vertical-view{
    min-height: 100vh !important;
}

.comments-container{
    margin-top: 50px;
}

.comment-box{
    border-right-style: solid;
}

.padding{
    padding-top: auto !important;
    padding-bottom: auto !important;
}

.background-image{
    margin-left: -10%;
    width: 120%;
}